{% with active=request.resolver_match.url_name %}
{% if user.role == "ADMIN" %}
  <a href="{% url 'dashboard' %}" class="nav-link {% if active == 'dashboard' %}active{% endif %}">📊 Dashboard</a>
  <a href="{% url 'products_list' %}" class="nav-link {% if active == 'products_list' or active == 'product_edit' or active == 'product_import' %}active{% endif %}">📦 Base Produits</a>
  <a href="{% url 'companies_list' %}" class="nav-link {% if active == 'companies_list' or active == 'company_edit' %}active{% endif %}">🏢 Entreprises</a>
  <a href="{% url 'users_list' %}" class="nav-link {% if active == 'users_list' %}active{% endif %}">👥 Vendeurs</a>
  <a href="{% url 'sales_history' %}" class="nav-link {% if active == 'sales_history' %}active{% endif %}">🕘 Historique</a>
{% endif %}
<a href="{% url 'caisse' %}" class="nav-link {% if active == 'caisse' %}active{% endif %}">🛒 Caisse</a>
{% if user.role == "SELLER" %}
  <a href="{% url 'sales_history' %}" class="nav-link {% if active == 'sales_history' %}active{% endif %}">🕘 Mon historique</a>
{% endif %}
{% endwith %}
